@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'Poppins' !important;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Start Section Nav */
nav {
  margin: 20px;
}

.navbar {
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
}

.container-fluid {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-top: 15px;
  border-radius: 15px;
  
}

.iconLogo {
  width: 45px;
  margin: 10px;
  margin-left: 25px;
}

.containerList {
  display: flex;
  justify-content: center;
}

.listMenu {
  padding-right: 25px;
  display: flex;
  gap: 1rem;
}

.listMenu li {
  max-width: 100%;
}

.listMenu a {
  padding: 5px;
  color: black;
  font-size: 10pt;
  text-decoration: none;
}

.containerMobile {
  padding-right: 25px;
  display: flex;
  gap: 1rem;
}

.btnMobile {
  width: 100px;
  padding: 3px;
  display: none;
  font-size: 10pt;
  border-radius: 9px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(60deg, rgb(0, 147, 233) 0%, rgb(140, 234, 240) 100%);
}
/* End Section Nav */

/* Start Section Card Description */
.containerDescription {
  width: 100vw; 
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
  justify-content: center;
}

.containerDescription .boxDescription {
  width: 80vw;
  margin-left: 10px;
}

.containerDescription .boxDescription span {
  font-size: 1.4rem;
}
/* End Section Title Description */

/* Start Section Cards */
.containerCard {
  z-index: 1;
  display: flex;
  max-width: auto;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.containerCard .boxCard {
  margin: 20px;
  width: 280px;
  height: 300px;
  display: flex;
  overflow: visible;
  position: relative;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.containerCard .boxCard .content {
  opacity: 0;
  padding: 20px;
  transition: 0.2s;
  text-align: center;
  transform: translateY(100px);
}

.containerCard .boxCard:hover .content {
  transform: translateY(0px);
  opacity: 1;
}

.containerCard .boxCard:hover .content h2 {
  bottom: 175px;
  right: 30px;
  font-size: 3rem;
  position: absolute;
  pointer-events: none;
  color: rgba(146, 146, 146, 0.4);
}

.containerCard .boxCard:hover .content h3 {
  z-index: 1;
  font-size: 1.5rem;
  color: rgb(0, 0, 0,);
  
}

.containerCard .boxCard:hover .content p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
}

.containerCard .boxCard:hover .content a {
  color: #000;
  margin-top: 15px;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}
/* End Section Card */

.btnModal {
  cursor: pointer;
  border: none;
  margin: 15px;
  padding: 8px;
  color: #fff;
  font-size: 8pt;
  font-weight: 700;
  border-radius: 9px;
  background: linear-gradient(267deg, rgba(54,81,182,1) 35%, rgba(0,212,255,1) 100%);
}

.btnModal:hover {
  background:  linear-gradient(267deg, rgb(109, 229, 253) 35%, rgb(72, 95, 178) 100%);;
}

.titleModal {
  max-width: 300px;
  text-align: center;
}


/* Start Modal */
.containerModal {
  width: 100vh;
  height: auto;
  display: none;
  justify-content: center;
}

.boxModal {
  padding: 15px;
  max-width: 30vw;
  height: auto;
  display: flex;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.boxModal img {
  width: 120px;
}

.boxModal h1 {
  font-size: 20pt;
  margin-bottom: 15px;
}

.boxModal p {
  margin-bottom: 45px;
}

.boxModal input {
  width: 100px;
  padding: 7px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(252,176,69,1) 21%, rgba(253,29,29,1) 87%);
}


@media (max-width: 700px) {
  .containerCard .boxCard .content {
    opacity: 1;
    padding: 30px;
    transition: 0.2s;
    text-align: center;
    transform: translateY(0px);
  }

  .containerCard .boxCard .content h2 {
    bottom: 200px;
    right: 30px;
    font-size: 3rem;
    position: absolute;
    pointer-events: none;
    color: rgba(146, 146, 146, 0.4);
  }
  
  .containerCard .boxCard .content h3 {
    z-index: 1;
    font-size: 1.5rem;
    color: rgb(0, 0, 0,);
    
  }
  
  .containerCard .boxCard .content p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #000;
  }
    

  .containerCard .boxCard .content a {
    color: #000;
    margin-top: 30px;
    /* margin-bottom: 15px; */
    padding: 7px 10px;
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
    background: #fff;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
  }

  .boxModal {
    max-width: 85%;
    margin-bottom: 50px;
  }
}


@media (max-width: 600px) {
  .btnMobile {
    display: block;
    border: none;
  }
  .listMenu {
    display: none;
  }
  .listMenu.active {
    position: absolute;
    display: grid;
    justify-items: start;
    margin-left: -10px;
    margin: 50px -10px -4px 0px;
  }

  .containerDescription {
    margin-top: 120px;
  }
}
